In [1]:
# ICS 438 Final Project:
# Jerome Gallego, Taylor Wong, Ujjwal..
# December 13, 2022
#
# For this project we have decided to use a dataset made from yelp reviews. 
# Using the operation known as Sentiment Analysis, we can provide a detailed investigation on whether or not the star ratings
# -can reflect how positive, negative, or neutral each review is.

# In the yelp dataset, we will only be analyzing the star ratings and the reviews itself. Everything else can be considered irrelevant

#For this notebook please install these packages to ensure that the file is running correctly
%pip install -U gensim
%pip install nltk



# Import whatever libraries you would want to use
# Clean up cells to put all imports to the top

Collecting gensim
  Downloading gensim-4.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (24.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.0/24.0 MB 9.5 MB/s eta 0:00:00:00:0100:01
Collecting smart-open>=1.8.1
  Downloading smart_open-6.2.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.6/58.6 kB 9.0 MB/s eta 0:00:00
Requirement already satisfied: scipy>=0.18.1 in /opt/conda/lib/python3.10/site-packages (from gensim) (1.9.1)
Requirement already satisfied: numpy>=1.17.0 in /opt/conda/lib/python3.10/site-packages (from gensim) (1.22.4)
Installing collected packages: smart-open, gensim
Successfully installed gensim-4.2.0 smart-open-6.2.0
Note: you may need to restart the kernel to use updated packages.
Collecting nltk
  Downloading nltk-3.7-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 8.6 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from nltk) (4.64.1)
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from nltk) (8.1.3)
Collecting regex>=2021.8.3
  Downloading regex-2022.10.31-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (770 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 770.5/770.5 kB 10.9 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: joblib in /opt/conda/lib/python3.10/site-packages (from nltk) (1.2.0)
Installing collected packages: regex, nltk
Successfully installed nltk-3.7 regex-2022.10.31
Note: you may need to restart the kernel to use updated packages.

In [47]:
import pandas as pd
# import matplotlib.pyplot as plt
import numpy as np
import gensim
from gensim.parsing.preprocessing import remove_stopwords
# import re

In [33]:
## Before we can do any kind of analysis we will need to load the dataset.
# As instructed, we understand that loading a file into ram can seem inefficient,
# to overcome this obstacle we have decided to process the data using the batching method that we have learned from Mahdi.

## Process yelp.csv with chunk size of 50 and append it to the dataframe


df = pd.DataFrame()
with open('./data/yelp.csv', "r+") as csv_file:
    tp = pd.read_csv(csv_file, iterator=True, chunksize=50)
    df = pd.concat(tp, ignore_index=True) 
# df.shape
# df.head()
# df['type'].describe
# df.info

In [25]:
columns = df.columns.values.tolist()
print(columns)
df['text'][0]

['business_id', 'date', 'review_id', 'stars', 'text', 'type', 'user_id', 'cool', 'useful', 'funny']

'My wife took me here on my birthday for breakfast and it was excellent.  The weather was perfect which made sitting outside overlooking their grounds an absolute pleasure.  Our waitress was excellent and our food arrived quickly on the semi-busy Saturday morning.  It looked like the place fills up pretty quickly so the earlier you get here the better.\n\nDo yourself a favor and get their Bloody Mary.  It was phenomenal and simply the best I\'ve ever had.  I\'m pretty sure they only use ingredients from their garden and blend them fresh when you order it.  It was amazing.\n\nWhile EVERYTHING on the menu looks excellent, I had the white truffle scrambled eggs vegetable skillet and it was tasty and delicious.  It came with 2 pieces of their griddled bread with was amazing and it absolutely made the meal complete.  It was the best "toast" I\'ve ever had.\n\nAnyway, I can\'t wait to go back!'

In [34]:
## To ensure we have removed all the irrelevant columns, we used the function drop() which will tell
## the dataframe to only include the stars and the text review. 
df.drop(labels=["business_id", "date", "type", "review_id", "user_id", "cool", "useful", "funny"], axis=1, inplace=True)
df

      stars                                               text
0         5  My wife took me here on my birthday for breakf...
1         5  I have no idea why some people give bad review...
2         4  love the gyro plate. Rice is so good and I als...
3         5  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...
4         5  General Manager Scott Petello is a good egg!!!...
...     ...                                                ...
9995      3  First visit...Had lunch here today - used my G...
9996      4  Should be called house of deliciousness!\n\nI ...
9997      4  I recently visited Olive and Ivy for business ...
9998      2  My nephew just moved to Scottsdale recently so...
9999      5  4-5 locations.. all 4.5 star average.. I think...

[10000 rows x 2 columns]

In [81]:
## Cleaning the data
import nltk
nltk.download('stopwords')
stop_words = set(stopwords.words("english"))
import string
def clean_data(data):
    x = data.lower()
    x = x.replace('\n','')
    table = str.maketrans(dict.fromkeys(string.punctuation)) 
    x = x.translate(table)
    x = ' '.join([word for word in x.split(' ') if word not in stop_words])
    return x

[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [86]:
##apply clean_data function to the df["text"] column to remove punctuations, new lines, and stop words
df["text"] = df["text"].apply(clean_data)
df

      stars                                               text
0         5  wife took birthday breakfast excellent  weathe...
1         5  idea people give bad reviews place goes show p...
2         4  love gyro plate rice good also dig candy selec...
3         5  rosie dakota love chaparral dog park convenien...
4         5  general manager scott petello good egg go deta...
...     ...                                                ...
9995      3  first visithad lunch today  used groupon  orde...
9996      4  called house deliciousnessi could go item item...
9997      4  recently visited olive ivy business last week ...
9998      2  nephew moved scottsdale recently bunch friends...
9999      5  45 locations 45 star average think arizona rea...

[10000 rows x 2 columns]

In [ ]:
# After we have cleaned the data to remove any sort of stop words and characters, we can start to implement the Sentiment Analysis.
# The main goal for this is produce a score from 0 to 1 whether it is categorized as Positive, Negative, or Neutral.